body {
  padding-left: 12em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, "Times New Roman",
      Times, serif;
  color: rgb(88, 8, 82);
  background-color: #d6b8cc
}

ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0; position: absolute;
  top: 1em;
  left: 1em;
  width: 9em
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Geneva, Arial,
      SunSans-Regular, sans-serif
}

ul.navbar li {
  background: rgb(48, 5, 48);
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid rgb(234, 235, 197)
}

ul.navbar a {
  text-decoration: none
}

a:link {
  color: rgb(205, 207, 174)
}

a:visited {
  color: rgb(75, 9, 75)
}

address {
  margin-top: 3em;
  padding-top: 1em;
  border-top: thin dotted
}